AA
<div class="header">
  <div  class="left">
    <h3>Patterns</h3>
      <app-pattern-list>
     </app-pattern-list>
  </div>
  <div  class="right">
    Detail
    <app-pattern-detail >
    </app-pattern-detail>
  </div>
</div>
<!--
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" position="end"
              [opened]="showSideNav$ | async">
    <a style="float:right" href="#" (click)="closeDetails(); (false)">
      x Close
    </a>
    <app-pattern-list  [patterns]="patterns" (select)="selectedPattern = $event">
    </app-pattern-list>
  </mat-drawer>
  <mat-drawer-content >
    <app-pattern-detail [pattern]="selectedPattern">
    </app-pattern-detail>
  </mat-drawer-content>
</mat-drawer-container>
-->
