<article>
    <h1>Game of Life</h1>
    <section>Das GameOfLife ist ein von John Conway 1970 entworfenes Simulationsspiel. Das Spielfeld ist in Zeilen und Spalten unterteilt und im Idealfall unendlich groß. Jedes Gitterquadrat ist ein zellulärer Automat (Zelle), der einen von zwei Zuständen einnehmen kann, welche oft als lebendig und tot bezeichnet werden. Zunächst wird eine Anfangsgeneration von lebenden Zellen auf dem Spielfeld platziert. Jede lebende oder tote Zelle hat auf diesem Spielfeld genau acht Nachbarzellen, die berücksichtigt werden (Moore-Nachbarschaft). Die nächste Generation ergibt sich durch die Befolgung einfacher Regeln.</section>
  <section><h1>Die Spielregeln</h1>>
      Die Folgegeneration wird für alle Zellen gleichzeitig berechnet und ersetzt die aktuelle Generation. Der Zustand einer Zelle (lebendig oder tot) in der Folgegeneration hängt nur vom aktuellen Zustand der Zelle selbst und den aktuellen Zuständen ihrer acht Nachbarzellen ab.

      <p>Die von Conway zu Anfang verwendeten Regeln sind:</p>
      <ul>
        <li>Eine tote Zelle mit genau drei lebenden Nachbarn wird in der Folgegeneration neu geboren.</li>
        <li>Eine lebende Zelle mit genau 2 oder 3 lebenden Nachbarn lebt im nächsten Zyklus noch.</li>
        <li>ALle restlichen Zellen sind in der Folgegeneration tot.</li>
      </ul>
   </section>>
    <section>
      Bestimmte Pattern/Muster, Anordnung von lebenden Zellen, haben besondere Eigenschaften. So gibt es statische Muster, die sich (ohne Einfluss von Aussen) nicht verändern. Dann gibt es oszillierende Muster, die nach einer definierten Anzahl von Nachfolgegenerationen wieder genau dem Anfangszustand entsprechen. Ausserdem wurden Raumschiff Muster entdeckt, die nach n Zyklen wieder dem verschobenen Urspungsmuster gleichen.
    </section>
  </article>
