.statistic-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:auto auto auto;
  grid-template-areas:
 "linechart linechart linechart"
 "piechart piechart piechart"
 "medal preview tag";
}

.linechart {
  width: 100%;
  justify-self: stretch;
  grid-area: linechart;
}
.piechart {
  width: 100%;
  justify-self: stretch;
  grid-area: piechart;
}
.game-preview {
  grid-area: preview;
}
.tag {
  grid-area: tag;
}
.medal {
  grid-area: medal;
}
