<mat-grid-list cols="3" rowHeight="2:1" >
  <mat-grid-tile colspan="3" rowspan="1">
    <ngx-charts-line-chart
      [customColors]="customColors"
      showLabels = true;
      animations = true;
      showXAxisLabel="true"
      showYAxisLabel="true"
      xAxis="true"
      yAxis="true"
      xAxisLabel="Generationen"
      yAxisLabel="Zellen"
      autoScale="true"
      [results]="allGenerationStatistics | toMeasureSeriesGrouped: [0,1,2,5]">
    </ngx-charts-line-chart>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <ngx-charts-number-card
      [customColors]="customColors"
      [results]="allGenerationStatistics | lastGenerationToMeasure: [2,3,5,7]">
    </ngx-charts-number-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <game-preview [game]="currentGame"></game-preview>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <ngx-charts-pie-chart
      [customColors]="customColors"
      explodeSlices="true"
      doughnut="true"
      [results]="allGenerationStatistics | lastGenerationToPercentage: [2,3,5,7]">
    </ngx-charts-pie-chart>
  </mat-grid-tile>
</mat-grid-list>
