<mat-card>
  <mat-card-content [ngClass]="this.screenSize > 0 ? 'statistic-container-wide' : 'statistic-container-narrow'">
  <div class="linechart">
    <ngx-charts-line-chart class="linechart"
      [customColors]="customColors"
      animations = true;
      showXAxisLabel="true"
      showYAxisLabel="true"
      xAxis="true"
      yAxis="true"
      xAxisLabel="Generationen"
      yAxisLabel="Zellen"
      autoScale="true"
      [results]="allGenerationStatistics | toMeasureSeriesGrouped: [0,1,2,5]">
    </ngx-charts-line-chart>
  </div>
  <div *ngIf="this.screenSize > 0"  class="piechart">
    <ngx-charts-pie-grid
      [customColors]="customColors"
      [results]="allGenerationStatistics | lastGenerationToMeasure: [2,3,5,7]">
    </ngx-charts-pie-grid>
  </div>
  <app-game-preview class="game-preview" [game]="currentGame"></app-game-preview>
  <app-score-tag *ngIf="this.screenSize > 0" class="tag" [tags]="score.tags" [size]="0"></app-score-tag>
  <app-score-medal *ngIf="this.screenSize > 0" class="medal" [overallScore]="score.overallScore" [size]="0"></app-score-medal>
  </mat-card-content>
</mat-card>
