<mat-card class="registerCard" fxLayout="column" fxLayoutAlign="space-around stretch">
  <mat-card-header>
    <div mat-card-avatar class="glider-animated"></div>
    <mat-card-title>Game Of Life</mat-card-title>
    <mat-card-subtitle>Benutzer Registrierung</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Benutzer</mat-label>
              <input matInput type="text"  formControlName="username" placeholder="Benutzer">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>eMail</mat-label>
              <input matInput type="text"  formControlName="email" placeholder="eMail" autocomplete='email' [ngClass]="{'is-invalid':email.invalid && (email.dirty || email.touched)}">
              <div class="invalid-feedback">
                 Please provide a email.
              </div>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Passwort</mat-label>
              <input matInput type="password" aria-describedby="passwordHelpBlock" formControlName="password" placeholder="Passwort">
              <button mat-icon-button matSuffix class="mat-icon-button mat-button-base" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
            <password-strength-meter [password]="password.value" [enableFeedback]="true"></password-strength-meter>

            <small id="passwordHelpBlock" class="form-text text-muted">
              Das Passwort muss 8-20 Zeichen lang sein, Buchstaben und Zahlen und darf keine Leerzeichen enthalten.
            </small>
          </div>
          <div class="form-group">
                <button type="submit" [disabled]="loading" mat-raised-button color="primary" >
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Registrieren
                </button>
                <a routerLink="../login" class="btn btn-link">Abbrechen</a>
            </div>
        </form>
  </mat-card-content>
</mat-card>
