.form-container {
  display: flex;
  flex-direction: column;
}

.login-card {
  max-width: 200em;
}

.cancel-button {
  margin-left: 2em;
}

.form-element{
  padding-bottom: 0.7em;
}

.mat-card-title {
  font-size: 3em;
  padding-bottom: 0.1em;
}

.mat-card-subtitle {
  font-size: 1.5em;
}

.form-container > * {
  width: 400px;
}

.mat-card-header{
  margin-bottom: 15px;
}
.mat-form-field{ width: 100%; }

.form-group {
  padding-top: 10px;
}

.glider-animated {
  background-image: url('../../assets/img/icon/gliderAnimated.gif');
  background-size: cover;
}
