 <div>
    <div class="row" *ngFor="let row of this.board.getRows(); let y = index" [attr.data-index]="y">
      <div class="column" *ngFor="let cell of this.board.getColumns(); let x = index" [attr.data-index]="x"
           [ngClass]="(board.getCell(x,y).isAlive() ? 'isAlive' : 'isDead')" (click)="toggle(x,y)" (mousemove)="toggle(x,y,$event)">
      </div>
    </div>
   <ul class="toolbar">
     <li>
       <a>
         <button mat-raised-button color="primary" type="button" aria-label="Schreiber" (click)="isErase = !isErase" matTooltip="Einzelne Zellen oder mehrere mit gedrückter Taste">
           <mat-icon>{{tool}}</mat-icon>
           <span  class="label">{{isErase ? "Löschen":"Zeichnen"}}</span>
         </button>
       </a>
     </li>
     <li>
       <a>
         <button mat-raised-button  color="primary" type="button" aria-label="Löschen" (click)="clear()" matTooltip="Komplett löschen">
           <mat-icon>highlight_off</mat-icon>
           <span  class="label">Alles löschen</span>
         </button>
       </a>
     </li>
     <li>
       <a>
         <button mat-raised-button color="primary" type="button" aria-label="Invertieren" (click)="invert()" matTooltip="Alle Zellen invertieren">
           <mat-icon>invert_colors</mat-icon>
           <span  class="label">Invertieren</span>
         </button>
       </a>
     </li>
   </ul>

 </div>
