
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.description {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.fields-editor {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  flex: 1;
}

.fields {
  display: flex;
  flex-direction: column;
}

.help-icon {
  transform: scale(0.5);
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 1rem;
  max-width: 250px;

}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.rule {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  flex-grow: 4;
}

.rule-high {
  font-style: italic;
}





