<mat-horizontal-stepper [class]="screenAdaptationClasses()" linear="true" (selectionChange)="selectionChange($event)" #stepper >

  <mat-step state="playfield" [stepControl]="rootGroup" [editable]="!isGameFinished" >
    <ng-template matStepLabel>
      <div matTooltip="Wähle das Spielfeld">Spielfeld</div>
    </ng-template>
      <app-board-step
                      [isBusy]="isBusy"
                      [controls]="controls"
                      [screenSize]="screenSize"
                      [screenOrientation]="screenOrientation"
                      (doResize)="onResize($event)"
                      (doChangeGenerations)="onChangeGenerations($event)" >
      </app-board-step>
  </mat-step>
  <mat-step state="cellInput" [stepControl]="rootGroup" [editable]="!isGameFinished" >
    <ng-template matStepLabel>
      <div matTooltip="Bevölkere das Spielfeld">Zellen</div>
    </ng-template>
    <app-cell-step [allPatterns]="allPatterns"
                   [isBusy]="isBusy"
                   [screenSize]="screenSize"
                   [screenOrientation]="screenOrientation"
                   (doPatternSelected)="onPatternSelected($event)"
                   (doRandomCells)="onRandom()"
                   (doInvertCells)="onInvert()"
                   (doResetCells)="onReset()">
    </app-cell-step>
  </mat-step>

  <mat-step state="rules" [editable]="!isGameFinished" >
    <ng-template matStepLabel>
      <div matTooltip="Bestimme die Regeln">Regeln</div>
    </ng-template>
    <app-rule-step [allRuleSets]="allRuleSets"
                   [isBusy]="isBusy"
                   [screenSize]="screenSize"
                   [screenOrientation]="screenOrientation"
                   (doRuleSetSelected)="onRuleSetSelected($event)">
    </app-rule-step>
  </mat-step>

  <mat-step state="play" [editable]="!isGameFinished" >
    <ng-template matStepLabel>
      <div matTooltip="Spiele das Spiel">Spielen</div>
    </ng-template>
    <app-play-step [isGameFinished]="isGameFinished"
                   (doNextStepProgrammatically)="onNextStepProgrammatically()">
    </app-play-step >
  </mat-step>

  <mat-step state="analyze">
    <ng-template matStepLabel>
      <div matTooltip="Analysiere das Spiel">Analysieren</div>
    </ng-template>
  </mat-step>

  <mat-step state="save" >
    <ng-template matStepLabel>
      <div matTooltip="Speichere das Spiel">Speichern</div>
    </ng-template>
    <app-save-step [isBusy]="isBusy"
                   [screenSize]="screenSize"
                   [screenOrientation]="screenOrientation"
                   (doSaveGame)="onSaveGame($event)"
                   (doStartFromScratch)="onStartFromScratch()">
    </app-save-step >
  </mat-step>

  <ng-template matStepperIcon="playfield" >
    <mat-icon svgIcon="gol_board"></mat-icon>
  </ng-template>
  <ng-template matStepperIcon="cellInput">
    <mat-icon svgIcon="gol_cell"></mat-icon>
  </ng-template>
  <ng-template matStepperIcon="rules">
    <mat-icon svgIcon="gol_rule"></mat-icon>
  </ng-template>
  <ng-template matStepperIcon="play">
    <mat-icon svgIcon="gol_play"></mat-icon>
  </ng-template>
  <ng-template matStepperIcon="analyze">
    <mat-icon svgIcon="gol_analyze"></mat-icon>
  </ng-template>
  <ng-template matStepperIcon="save">
    <mat-icon svgIcon="gol_save"></mat-icon>
  </ng-template>

</mat-horizontal-stepper>
