<mat-horizontal-stepper linear="true" (selectionChange)="selectionChange($event)" >

  <mat-step label="Spielfeld" state="playfield" [stepControl]="rootGroup" >
      <app-board-step [allGames]="allGames"
                      [controls]="controls"
                      (doLoadGames)="onLoadGames()"
                      (doApplyGame)="onApplyGame($event)"
                      (doResize)="onResize($event)"
                      (doChangeGenerations)="onChangeGenerations($event)" >
      </app-board-step>
  </mat-step>
  <mat-step label="Zellen" state="cellInput" [stepControl]="rootGroup" >
    <app-cell-step [allPatterns]="allPatterns"
                   (doPatternSelected)="onPatternSelected($event)"
                   (doRandomCells)="onRandom()"
                   (doInvertCells)="onInvert()"
                   (doResetCells)="onReset()">
    </app-cell-step>
  </mat-step>

  <mat-step label="Regeln" state="rules" >
    <app-rule-step [allRuleSets]="allRuleSets"
                   (doRuleSetSelected)="onRuleSetSelected($event)">
    </app-rule-step>
  </mat-step>

  <mat-step label="Spielen" state="play" >
    <app-play-step [controls]="controls" [isRunning]="isRunning"  (doStartGame)="onStartGame()" (doChangeSpeed)="onChangeSpeed($event)" (doTogglePause)="onTogglePause()"></app-play-step >
  </mat-step>

  <mat-step label="Analysieren" state="analyze">
    You are now done.
  </mat-step>

  <mat-step label="Speichern" state="save" >
    <app-save-step [isBusy]="isBusy"
                   (doSaveGame)="onSaveGame()" >
    </app-save-step >
  </mat-step>

  <ng-template matStepperIcon="playfield" >
    <mat-icon svgIcon="gol_board"></mat-icon>
  </ng-template>
  <ng-template matStepperIcon="cellInput">
    <mat-icon svgIcon="gol_cell"></mat-icon>
  </ng-template>
  <ng-template matStepperIcon="rules">
    <mat-icon svgIcon="gol_rule"></mat-icon>
  </ng-template>
  <ng-template matStepperIcon="play">
    <mat-icon svgIcon="gol_play"></mat-icon>
  </ng-template>
  <ng-template matStepperIcon="analyze">
    <mat-icon svgIcon="gol_analyze"></mat-icon>
  </ng-template>
  <ng-template matStepperIcon="save">
    <mat-icon svgIcon="gol_save"></mat-icon>
  </ng-template>

</mat-horizontal-stepper>
