

:host .handset ::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

:host ::ng-deep .mat-step-icon .mat-icon {
  font-size: 24px;
  height: 24px;
}

:host ::ng-deep .mat-horizontal-content-container {
  padding:1.5em !important;
}
