<router-outlet></router-outlet>
<ng-container *ngIf="showSpinner"><mat-spinner class="spinner"></mat-spinner></ng-container>


<div class="button_block">
  <span class="slider">
    <mat-slide-toggle
      name="privateOnly"
      (change)="showAndLoadPrivateGamesOnly($event.checked)"
      [checked]="privateGamesOnly">
      Nur meine Spiele
    </mat-slide-toggle>
    <mat-icon class="help-icon" matTooltip="Berücksichtige nur die eigenen, oder auch alle veröffentlichten Spiele.">help</mat-icon>
  </span>
  <mat-button-toggle-group #view="matButtonToggleGroup" aria-label="Ansichten"
                           [value]="selectedView"
                           (change)="onViewChange(view.value)">
    <mat-button-toggle value="list">
      <mat-icon matListIcon>view_list</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="carousel">
      <mat-icon matListIcon>view_carousel</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div [hidden]="!isListView()">
  <table  mat-table  [dataSource]="dataSource" multiTemplateDataRows
         class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="name" >
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> User </th>
      <td mat-cell *matCellDef="let element"> {{toUserName(element.author)}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Gespielt am </th>
      <td mat-cell *matCellDef="let element"> {{element.dateAsString()}}</td>
    </ng-container>

    <ng-container matColumnDef="ruleSet">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Regelsatz </th>
      <td mat-cell *matCellDef="let element"> {{element.ruleSet.shortName}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Bewertung </th>
      <td mat-cell *matCellDef="let element">
        <app-score-medal [overallScore]="element.score.overallScore" [size]="1"></app-score-medal> </td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef> Tags </th>
      <td mat-cell *matCellDef="let element">
        <app-score-tag [tags]="element.score.tags" [size]="1"></app-score-tag> </td>
    </ng-container>

    <ng-container  matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToShow.length">
        <div class="element-detail"
             [@detailExpand]="element == expandedGame ? 'expanded' : 'collapsed'">
          <app-game-preview class="expanded_cell" [game]="element" [navigationEnabled]="true"></app-game-preview>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToShow"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToShow;"
        class="element-row"
        [class.example-expanded-row]="expandedGame === element"
        (click)="expandedGame = expandedGame === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<app-game-carousel  *ngIf="!isListView()" [games]="dataSource.connect() | async"></app-game-carousel>


