

.board-step-narrow {
  display: flex;
  flex-direction: column;

  .generations_block {
    margin-top: 1em;
  }
  .button_block {
    align-self: flex-end;
  }

  mat-button-toggle-group {
    align-self: flex-start;
  }
}

.board-step-wide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  mat-button-toggle-group {
    align-self: flex-start;
    flex-shrink: 0;
  }

  .filler {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .generations_block {
    align-self: flex-end;
    margin-left: 1em;
    flex-shrink: 1;
  }
}
