<p>Bestimme die Grösse des Spielfeldes und die Länge des Spiels:</p>
<div [ngClass]="screenAdaptationClasses()">
  <mat-button-toggle-group multiple="false" [value]="selectedSize" (change)="onChangeSize($event.value)" [disabled]="isBusy">
    <mat-button-toggle value="small" aria-label="Klein">
      <mat-icon svgIcon="small"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="medium" aria-label="Mittel">
      <mat-icon svgIcon="medium"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="large" aria-label="Gross">
      <mat-icon svgIcon="large"></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="generations_block">
    <mat-label>Generationen [{{this.controls.generations}}]</mat-label>
    <mat-slider
      [disabled]="isBusy"
      [max]="500"
      [min]="10"
      [step]="10"
      [thumbLabel]= true
      [value]="controls.generations"
      (valueChange)="onChangeGenerations($event)">
    </mat-slider>
  </div>
  <div class="filler"></div>
  <div class="button_block">
    <button mat-button matStepperNext mat-raised-button [disabled]="isBusy" color="primary" style="float: right;" >Weiter</button>
  </div>
</div>
