<form [formGroup]="boardFormGroup">
<p>Bestimme die Grösse des Spielfeldes und die Dauer des Spieles:</p>
    <mat-label>Breite</mat-label>
    <mat-slider
      [max]="200"
      [min]="10"
      [step]="10"
      [thumbLabel]= true
      formControlName="sizeX" (valueChange)="onResizeX($event)">
    </mat-slider>
    <mat-label>Höhe</mat-label>
    <mat-slider
      [max]="200"
      [min]="10"
      [step]="10"
      [thumbLabel]= true
      formControlName="sizeY" (valueChange)="onResizeY($event)">
    </mat-slider>
    <p></p>
    <mat-label>Generationen</mat-label>
    <mat-slider
      [max]="500"
      [min]="10"
      [step]="10"
      [thumbLabel]= true
      formControlName="generations" (valueChange)="onChangeGenerations($event)">
    </mat-slider>
    <div>
      <button mat-button matStepperNext mat-raised-button color="primary"  style="float: right;">Weiter</button>
    </div>
</form>
