
<div *ngIf="ruleSets" >
  <mat-grid-list rowHeight="20em" gutterSize="2em"  cols="{{this.visibleRules+2}}" >
    <mat-grid-tile>
      <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
      </button>
    </mat-grid-tile>
    <mat-grid-tile [ngClass]="(currentIndex === index ? 'highRule' : 'opaque')"  *ngFor="let index of indices" >
      <rule-preview class="slide" [size]="1" [ruleSet]="this.ruleSets[index]" (click)="onSelect(index)">
      </rule-preview>
    </mat-grid-tile>
    <mat-grid-tile>
      <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
