
@import '../../../styles/mixins';


.opaque {
  opacity: 0.3;
}

.carousel-control-left {
  @include carousel-control;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control-right {
  @include carousel-control;
  right: 0%;
  top: 50%;
  transform: translate(50%, -50%);
}
