<div *ngIf="user">
<form novalidate #form="ngForm" (ngSubmit)="onSubmit(user)">

  <h1>Rolle anpassen für Benutzer: {{user.username}}</h1>
  <mat-select class="role" placeholder="Rolle" [(ngModel)]="user.role" name="role" required #role="ngModel">
          <mat-option *ngFor="let item of roles" [value]="item.title" >{{item.value}}</mat-option>
  </mat-select>
   <mat-error *ngIf="role.required">
     Rolle muss gewählt sein
   </mat-error>
    <div class="action">
      <button color="secondary" class="cancel" mat-raised-button type="button" routerLink="/users">Abbrechen</button>
      <button color="primary" [disabled]="loading || !form.form.valid" mat-raised-button type="submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Speichern
      </button>
    </div>
</form>
</div>
