

.big_top {
  background-color: goldenrod;
}

.big_good {
  background-color: silver;
}

.big_lousy {
  opacity: 0.3;
}

.tiny_top {
  color: goldenrod;
}

.tiny_good {
}

.tiny_lousy {
  opacity: 0.3;
}

.thumb {
  transform: scale(0.8);
}

.tiny-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
