
.game-preview {
  width: 50em;
  padding-left: 0.5em;
}


.content {
  margin-left: 1em;
}
.footer {
  margin-left: 1em;
  margin-right: 0.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
}

mat-card-subtitle {
  text-align: center;
}

mat-card-actions {
  margin: 0;
  padding: 0;
}

