<mat-sidenav-container >
  <mat-sidenav mode="over" #sidenav_left position="start">
    <mat-nav-list role="navigation">
      <a mat-list-item routerLink="designer" routerLinkActive="active" (click)="sidenav_left.close()">
        <mat-icon matListIcon>dashboard</mat-icon>
        Design Editor
      </a>
      <a mat-list-item routerLink="rules" routerLinkActive="active" (click)="sidenav_left.close()">
        <mat-icon matListIcon>rule</mat-icon>
        Regel Editor
      </a>
      <a mat-list-item routerLink="users" routerLinkActive="active" (click)="sidenav_left.close()">
        <mat-icon matListIcon>settings</mat-icon>
        Rollenverwaltung
      </a>
      <a mat-list-item routerLink="game" routerLinkActive="active" (click)="sidenav_left.close()">
        <mat-icon matListIcon>toys</mat-icon>
        Spiel
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav mode="over"  #sidenav_right position="end">
    <mat-nav-list role="navigation" >
      <a mat-list-item (click)="logout()" routerLinkActive="active">
        <mat-icon matListIcon>login</mat-icon>
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">

    <mat-toolbar class="mat-elevation-z4 toolbar" color="primary" *ngIf="(authService.loggedIn | async) as loggedIn">
      <button mat-icon-button matTooltip="Menü" (click)="sidenav_left.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <div mat-card-avatar class="glider-animated"></div>
      <span><a class="title" routerLink="/" routerLinkActive="active">Game of Life</a></span>

      <span class="spacer"></span>
      <button mat-icon-button matTooltip="Benutzer" (click)="sidenav_right.toggle()" >
        <mat-icon>face</mat-icon>
      </button>
      <div *ngIf="user" class="user-info">
        <div class="username"> {{user.username}}</div>
        <div class="role">[{{user.role}}]</div>
        <div class="login-date">[{{user.lastLogin | date:'medium'}}]</div>
      </div>

    </mat-toolbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
