<!-- nav -->
<mat-toolbar *ngIf="(authService.loggedIn | async) as loggedIn">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <span><a class="title" routerLink="/" routerLinkActive="active">Game of Life</a></span>
    <span class="spacer"></span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dashboard</mat-icon>
        <a mat-button routerLink="/designer" routerLinkActive="active">Design Editor</a>
      </button>
      <button mat-menu-item>
        <mat-icon>rule</mat-icon>
        <a mat-button routerLink="/rules" routerLinkActive="active">Regel Editor</a>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <a mat-button routerLink="/users" routerLinkActive="active">Rollenverwaltung</a>
      </button>
      <button mat-menu-item>
        <mat-icon>login</mat-icon>
        <a mat-button  (click)="logout()">Logout</a>
      </button>
      <button mat-menu-item>
        <mat-icon>toys</mat-icon>
        <a mat-button routerLink="/game" routerLinkActive="active">Play</a>
      </button>
    </mat-menu>
    <span class="spacer"></span>
      <mat-icon>face</mat-icon>
  <!--<div class="user">{{user.username}}<div class="role">[{{user.role}}]</div></div>-->

</mat-toolbar>

<!-- main app container -->
<div class="app-container">
  <router-outlet></router-outlet>
</div>
