.role {
  color: darkgray;
}

.spacer {
  flex: 1 1 auto ;
}

.nav {
  border: 0em;
  margin: 0em;
}

.title {
  font-size: larger;
}

.user {
  margin-left: 0.1em;
}

.role {
  display:inline-block;
  margin-left: 0.1em;
}
.sidenav-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.toolbar{
  position: relative;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
}

.content{
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 24px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info > div {
  padding: 0px;
  margin: 0px;
  height: 1.5em;
}
.username {
  font-size: small;
}

.role {
  font-size: x-small;
}

.login-date {
  font-size: x-small;
}

