.rule-control {
 width:200px;
}

.label {
  font-size: x-small;
}
.die {
  background-color: crimson;
  border: 1px lightgray;
}
.born {
  background-color: darkgreen;
  border: 1px lightgray;
}

.cell {
  border: solid 1px lightgray;
}
