<div *ngIf="rule" class="rule-control">
  <mat-grid-list rowHeight="1:1" cols="15" gutterSize="1">
    <mat-grid-tile class="label" [colspan]="7">Nachbarn</mat-grid-tile><mat-grid-tile class="label" *ngFor="let status of this.birth;  index as i" >{{i+1}}</mat-grid-tile>
    <mat-grid-tile class="label" [colspan]="7"><div class="legend"><div class="box death"></div><div>Sterben</div></div></mat-grid-tile><mat-grid-tile class="cell" *ngFor="let status of this.birth" [ngClass]="(status ? 'alive' : 'death')"></mat-grid-tile>
    <mat-grid-tile class="label" [colspan]="7"><div class="legend"><div class="box alive"></div><div>Geboren</div></div></mat-grid-tile><mat-grid-tile class="cell" *ngFor="let status of this.death" [ngClass]="(status ? 'alive' : 'death')"></mat-grid-tile>
  </mat-grid-list>
</div>
