@import '~@angular/material/theming';


.description{
  padding-top: 15px;
}

.subtitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-card {
  @include mat-elevation-transition;
  @include mat-elevation(8);

  &:hover {
    @include mat-elevation(16);
  }
}


mat-grid-tile{
  border: thin solid lightgray;
}

.info {
  position: absolute;
  bottom:3%;
  right:3%;
}
