<div *ngIf="ruleSet">
  <mat-card class="rule-preview">
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon="rule" matBadge="{{ruleSet.difficulty}}" matBadgePosition="before" matBadgeColor="primary" matTooltip="Schwierigkeit {{ruleSet.difficulty}}" matTooltipPosition="above"></mat-icon>
      <mat-card-title>{{ruleSet.shortName}}</mat-card-title>
      <mat-card-subtitle>
        <div class="subtitle">
          <div>Regel {{ruleSet.ruleStringBSnotation}}</div>
        </div>
      </mat-card-subtitle>
      <mat-icon class="info" color="primary" aria-label="{{ruleSet.description}}" matTooltip="{{ruleSet.description}}">info</mat-icon>
    </mat-card-header>
    <mat-card-content *ngIf="this.size != 2">
      <app-rule-display [rule]="ruleSet.ruleStringBSnotation"></app-rule-display>
    </mat-card-content>
    <mat-card-actions *ngIf="showRating && user">
      <app-rating [userId]="user.id" [ratingId]="ruleSet.id"></app-rating>
    </mat-card-actions>
  </mat-card>
</div>


