  <div>
    <p>Wähle aus, nach welchem Regelsatz gespielt wird:</p>
    <app-rule-carousel
      [ruleSets]="allRuleSets"
      [visibleRules]="this.visibleRules()"
      [ruleSize]="this.screenSize == 0 ? 2 : 1"
      (doSelected)="onRuleSetSelected($event)">
    </app-rule-carousel>
    <button mat-button matStepperNext mat-raised-button [disabled]="isBusy" color="primary" style="float: right;">Weiter</button>
    <button mat-button matStepperPrevious mat-raised-button type="button" style="float: right;">Zurück</button>
  </div>
