<div *ngIf="patterns" >
  <mat-grid-list [rowHeight]="this.showRating ? '27em' : '18em'"  cols="{{this.visiblePatterns}}" >
      <mat-grid-tile
        *ngFor="let index of indices"
        [ngClass]="(currentPatternIndex === index && this.isSelected ? 'highPattern' : 'opaque')">
       <app-pattern-preview
         [animationEnabled]="false"
         [showRating]="this.showRating"
         [pattern]="patterns[index]"
         (click)="onSelect(index)">
       </app-pattern-preview>
      </mat-grid-tile>
    <button mat-icon-button disableRipple="true" class="carousel-control-left" aria-label="Vorheriges Pattern" (click)="onPreviousClick()">
      <mat-icon class="arrow">navigate_before</mat-icon>
    </button>
    <button mat-icon-button disableRipple="true" class="carousel-control-right" aria-label="Nächstes Pattern" (click)="onNextClick()">
      <mat-icon class="arrow">navigate_next</mat-icon>
    </button>
    </mat-grid-list>
</div>

