<div *ngIf="patterns" >
  <mat-grid-list [rowHeight]="this.showRating ? '27em' : '18em'"  cols="{{this.visiblePatterns}}" >
      <mat-grid-tile
        *ngFor="let index of indices"
        [ngClass]="(currentPatternIndex === index && this.isSelected ? 'highPattern' : 'opaque')">
       <pattern-preview
         [animationEnabled]="false"
         [showRating]="this.showRating"
         [pattern]="patterns[index]"
         (click)="onSelect(index)">
       </pattern-preview>
      </mat-grid-tile>
    <button class="control prev" (click)="onPreviousClick()">
      <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
      <span class="arrow right"></span>
    </button>
    </mat-grid-list>
</div>

