@import '../../../styles/mixins';

:host {

  display: block;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  .pattern-list-item {

    @include app-transition();
    user-select: none;

    &:hover {
      @include app-blur-backdrop();
    }

    &.--is-selected {

      background: var(--app-color-background-highlight);
      position: relative;

      p {
        color: var(--app-color-text-secondary-highlight);
      }

      &::after {
        content: '\b7';
        color: var(--app-color-primary);
        font-size: 60px;
        line-height: 0px;
        position: absolute;
        top: 26px;
        left: 3px;
      }

    }

  }

  .item {
    width:200px;
    display:flex;
    flex-direction: row;
    align-items:center;

/*    margin-left: var(--app-spacing--lg);
    padding: var(--app-spacing--md) var(--app-spacing--md) var(--app-spacing--md) 0;
    border-bottom: var(--app-border);*/

  }

  .type-icon {
    font-size:1.7em;
    color: darkgrey;
  }

  .info {
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .title {
    font-size:1.1em;
  }
  .subtitle {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .author {
    font-size:0.8em;
    color: gray;
    flex-grow: 1;
  }

  .lock-icon {

  }
  .lock {
    font-size:1em;
  }
}


