<div class="designer">
  <div class="pattern-list">
    <mat-selection-list #patternList [multiple]="false"
                        (selectionChange)="onPatternSelection(patternList.selectedOptions.selected[0])">
      <mat-list-option [selected]="selectedPattern.id === pattern.id"
           *ngFor="let pattern of patterns" [value]="pattern">
        <div class="list-item">
          {{pattern.name}} <mat-icon class="lock">{{lockedIcon(pattern)}}</mat-icon>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="pattern-detail">
    <app-pattern-detail class="matrix" [pattern]="selectedPattern"></app-pattern-detail>
  </div>
</div>






