<div class="container">
<div class="carousel">
      <div>
        <img  [src]="slides[currentSlide].src" class="slide"  alt="carousel-foto"/>
        <button class="control prev" (click)="onPreviousClick()">
          <span class="arrow left"></span>
        </button>
        <button class="control next" (click)="onNextClick()">
          <span class="arrow right"></span>
        </button>
      </div>
      <div><span>Hier wird ein Carousel angezeigt</span></div>
  </div>
  <div class="text_container" >
    <div class="carousel_text">{{slides[currentSlide].text}}</div>
    <div class="goto"  >
      <!--button mat-raised-button [routerLink]="slides[currentSlide].link" >{{slides[currentSlide].linkLabel}}</button-->
      <button mat-raised-button  >{{slides[currentSlide].linkLabel}}</button>
    </div>
  </div>
</div>
