@import '../../../styles/mixins';

.slide {
  position: center;
  width: 100%;
  height: 100%;
}

.carousel-control-left {
  @include carousel-control;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control-right {
  @include carousel-control;
  right: 0%;
  top: 50%;
  transform: translate(50%, -50%);
}
