
mat-spinner {
  position: absolute;
  top: 30%;
  left: 30%;
}
mat-icon {
  width: 8px;
  margin-right: 0.5em;
}

button {
  width: 15px;
  margin-right: 0.5em;
  color: goldenrod;
}

.button-disabled {
  color: gray;
}

// disable blue border
button:focus {outline:0;}
