<h1>Rollenverwaltung</h1>
<mat-table [dataSource]="users" matSort matSortActive="seqNo" matSortDirection="asc" matSortDisableClear>
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Benutzer</mat-header-cell>
    <mat-cell *matCellDef="let user">{{user.username}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Letztes Login</mat-header-cell>
    <mat-cell class="description-cell"
              *matCellDef="let user">{{user.lastLogin  | date:'medium' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef>Rolle</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let user">{{user.role}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Aktionen</mat-header-cell>
    <mat-cell *matCellDef="let user"> <a mat-raised-button routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
