<div class="container">
  <ng-template class="slide" #dynamicComponent ></ng-template>
  <div class="action">
    <button mat-icon-button class="control" aria-label="Zurück" (click)="onPreviousClick()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-icon-button class="control" aria-label="Pause" (click)="onTogglePauseClick()">
      <mat-icon>{{pause ? 'play_arrow':'pause'}}</mat-icon>
    </button>
    <button mat-icon-button class="control" aria-label="Weiter" (click)="onNextClick()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
