* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.board {
  display: flex;
  flex-direction: column;
}

.isRunning {
  height:100vh;
  width:100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.row {
  display: flex;
  flex-direction: row;
  line-height: 0;
}

.cell {
  width: 1%;
  height: 1%;
  background: none;
  border-radius: 50%;
  padding-bottom: 1%; /* = width for a 1:1 aspect ratio */
}

.isAlive {
  background-color: black;
}

.isApplyPattern {
  cursor: url("../../../assets/img/icon/focus-line.svg") 24 24, auto;
}

.isApplyCellState {
  cursor: crosshair;
}

.isMasked {
  background: lightgrey;
  cursor: not-allowed ;
}

.isEditable {
  background-color:aliceblue;
}
