<div [ngClass]="getBoardClasses()">
    <ng-container *ngIf="this.isLoading"><mat-spinner class="spinner"></mat-spinner></ng-container>
    <div class="row" *ngFor="let row of this.board.rowsAndCells.values()" >
      <div class="cell"
           [ngClass]="(cell.isAlive() ? 'isAlive' : cell.pristine ? 'wasNeverAlive': 'isDead')"
           matRipple matRippleRadius="30" matRippleCentered="true" matRippleUnbounded="true"
           *ngFor="let cell of row"
           (click)="onClick(cell)"
           (mousemove)="onMouseMove($event,cell)">
      </div>
    </div>
    <app-gametime *ngIf="isRunning || isReadyToRun || isReadyForAnalysis"
                  [isReadyForAnalysis]="isReadyForAnalysis"
                  [isRunning]="isRunning"
                  [isReadyToRun]="isReadyToRun"
                  [isBoardMaximized]="isBoardMaximized"
                  [generationStatistic]="generationStatistic"
                  (doStartGame)="onStartGame()"
                  (doStartAnalysis)="onStartAnalysis()"
                  (doChangeSpeed)="onChangeSpeed($event)"
                  (doStartFromScratch)="onStartFromScratch()"
                  (doToggleMaximize)="onToggleMaximize()">
    </app-gametime>
</div>

