<p>Bevölkere das Spielfeld:</p>
<form [formGroup]="cellsFormGroup">
  <mat-button-toggle [checked]="drawMode == 0" (change)="toggleDrawMode()">Zeichnen</mat-button-toggle>
  <button mat-button mat-stroked-button  (click)="onRandom($event)" >Zufall</button>
  <button mat-button mat-stroked-button  (click)="onInvert($event)" >Invertieren</button>
  <span>Füge ein Pattern ein:</span>
  <app-pattern-carousel [autoLoadPatterns]="false"
                        [highLightSelection]="true"
                        [patterns]="allPatterns"
                        [isSelected]="drawMode != 0"
                        (doPatternSelected)="onPatternSelected($event)"
                        (doDeSelect)="onDeselectPattern()">
  </app-pattern-carousel>
  <div>
    <button mat-button mat-stroked-button  (click)="onReset($event)">Alle Löschen</button>
    <button mat-button matStepperNext mat-raised-button color="primary"  style="float: right;">Weiter</button>
    <button mat-button matStepperPrevious mat-raised-button type="button" style="float: right;">Zurück</button>
  </div>

</form>
