<p>Bevölkere das Spielfeld, indem du auf Zellen klickst oder Patterns auswählst und einfügst:</p>
<form [formGroup]="cellsFormGroup">
  <mat-form-field>
    <mat-label>Pattern</mat-label>
    <mat-select (selectionChange)="onPatternSelected($event.value)" [(value)]="patternSelected">
      <mat-option>Keine Auswahl</mat-option>
      <mat-optgroup *ngFor="let group of groupedPatterns" [label]="group.key">>
        <mat-option *ngFor="let pattern of group.value" [value]="pattern" >{{pattern.name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <pattern-preview [pattern]="patternSelected"></pattern-preview>
  <p></p>
  <button mat-button mat-stroked-button  (click)="onReset($event)">Alle Löschen</button>
  <button mat-button mat-stroked-button  (click)="onRandom($event)" >Zufall</button>
  <button mat-button mat-stroked-button  (click)="onInvert($event)" >Invertieren</button>

  <div>
    <button mat-button matStepperNext mat-raised-button color="primary"  style="float: right;">Weiter</button>
    <button mat-button matStepperPrevious mat-raised-button type="button" style="float: right;">Zurück</button>
  </div>
</form>
