<p>Bevölkere das Spielfeld:</p>
<div>
  <mat-button-toggle-group [disabled]="isBusy">
    <mat-button-toggle [checked]="drawMode == 0" (change)="toggleDrawMode()" matTooltip="Einzelne Zellen zeichnen">
      <mat-icon>brush</mat-icon>
      <span>Freihandzeichnen</span>
    </mat-button-toggle>
    <mat-button-toggle [checked]="drawMode != 0" (change)="toggleDrawMode()" matTooltip="Pattern einfügen">
      <mat-icon>blur_on</mat-icon>
      <span >Pattern einfügen</span>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <app-pattern-carousel [autoLoadPatterns]="false"
                        [highLightSelection]="true"
                        [patterns]="allPatterns"
                        [isSelected]="drawMode != 0"
                        (doPatternSelected)="onPatternSelected($event)"
                        (doDeSelect)="onDeselectPattern()">
  </app-pattern-carousel>
  <div>
    <button mat-button mat-stroked-button [disabled]="isBusy"  (click)="onRandom($event)" matTooltip="Zufällig Zellen zeichnen">
      <mat-icon>grain</mat-icon>
      <span >Zufall</span>
    </button>
    <button mat-button mat-stroked-button [disabled]="isBusy"  (click)="onInvert($event)" matTooltip="Alle Zellen invertieren" >
      <mat-icon>invert_colors</mat-icon>
      <span >Invertieren</span>
    </button>
    <button mat-button mat-stroked-button [disabled]="isBusy"  (click)="onReset($event)">
      <mat-icon>format_color_reset</mat-icon>
      <span >Alles löschen</span></button>
    <button mat-button matStepperNext mat-raised-button color="primary" [disabled]="isBusy"  style="float: right;">Weiter</button>
    <button mat-button matStepperPrevious mat-raised-button type="button" style="float: right;">Zurück</button>
  </div>

</div>
