<router-outlet></router-outlet>
<div class="game"  >
  <ng-container *ngIf="game$ | async as game" >
    <gol-board class="board" [board]="game.board"></gol-board>
    <gol-game-controls [controls]="controls$ | async" class="controls" (doPlay)="onPlay()" (doResize)="onResize($event)" (doChangeSpeed)="onChangeSpeed($event)"
                       (doChangeGenerations)="onChangeGenerations($event)"></gol-game-controls>
    <gol-game-statistic class="statistics" [gameStatistic]="gameStatistic$ | async" [generationStatistic]="generationStatistic$ | async" (play)="onPlay()"></gol-game-statistic>
  </ng-container>
</div>
