<router-outlet></router-outlet>
<ng-container *ngIf="game$ | async as game" class="game">
  <app-stepper class="stepper"
               [controls]="controls$ | async"
               [allRuleSets]="allRuleSets$ | async"
               [allPatterns]="allPatterns$ | async"
               [allGames]="games$ | async"
               [isBusy]="isLoading$ | async"
               [isRunning]="isRunning$ | async"
               [isGameFinished]="isGameFinished$ | async"
               (doResize)="onResize($event)"
               (doChangeGenerations)="onChangeGenerations($event)"
               (doPatternSelected)="onPatternSelected($event)"
               (doRandomCells)="onRandomCells()"
               (doResetCells)="onResetCells()"
               (doInvertCells)="onInvertCells()"
               (doStepChanged)="onStepChanged($event)"
               (doRuleSetSelected)="onRuleSetSelected($event)"
               (doSaveGame)="onSaveGame(game)"
               (doApplyGame)="onApplyGame($event)"
               (doLoadGames)="onLoadGames()">
  </app-stepper>
  <gol-board *ngIf="!(isGameFinished$ | async)"
             [board]="game.board"
             [isMasked]="isMasked$ | async"
             [isLoading]="isLoading$ | async"
             [isEditable]="isEditable$ | async"
             [isRunning]="isRunning$ | async"
             [isBoardMaximized]="isBoardMaximized$ | async"
             [isReadyToRun]="isReadyToRun$ | async"
             [isReadyForAnalysis]="isReadyForAnalysis$ | async"
             [generationStatistic]="generationStatistic$ | async"
             [allGenerationStatistics]="allGenerationStatistics$ | async"
             [patternSelected]="patternSelected$ | async"
             (doChangeSpeed)="onChangeSpeed($event)"
             (doApplyPattern)="onApplyPattern($event)"
             (doAbortAndReset)="startFromScratch()"
             (doStartGame)="onPlay()"
             (doToggleMaximize)="onToggleMaximize()"
             (doStartAnalysis)="onStartAnalysis({ generationStatistics:$event, game: game })">
  </gol-board>
  <gol-game-statistic
    *ngIf="isGameFinished$ | async"
    [allGenerationStatistics]="allGenerationStatistics$ | async"
    [score]="score$ | async"
    [currentGame]="game">
  </gol-game-statistic>
</ng-container>
