.game {
  display: grid;
  grid-template-columns: 4fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "stepper stepper"
    "board controls";
}

.board {
  grid-area: board;
}
.controls {
  grid-area: controls;
}

.stepper {
  grid-area: stepper;
}
