<div *ngIf="pattern && this.board">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{pattern.name}}</mat-card-title>
      <mat-card-subtitle>{{pattern.author}} {{pattern.year}}</mat-card-subtitle>
      <mat-card-subtitle><span class="rule-name">{{ruleSet.shortName}}</span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content >
      <div class="pattern" (mouseover)="startAnimation()" (mouseout)="stopAnimation()" >
        <mat-grid-list rowHeight="1:1" cols="{{this.board.width}}" >
          <mat-grid-tile *ngFor="let cell of this.board.cells" [ngClass]="(cell.isAlive() ? 'isAlive' : 'isDead')"></mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="showRating">
      <gol-rating [userId]="user.id" [ratingId]="pattern.id"  (ratingUpdated)="onRatingChanged($event)"></gol-rating>
      <mat-icon class="info" color="primary" aria-label="{{pattern.description}}" matTooltip="{{pattern.description}}">info</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>
