mat-card {
  width: 200px;
  height: 300px;
  box-sizing: border-box;
}

mat-card:hover{
  z-index:1000;
  box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}
gol-rating {

}

mat-card-header {
width: 100%;
}

mat-card-actions {
  padding: 2px;
  display:flex;
}

.info {
  margin-left: auto;
}

.rule-name {
  font-size: x-small;
}

.pattern {
  margin: 0 auto;
  background-color:aliceblue;
}

.isAlive {
  background-color: black;
}

.isDead {
  background-color: transparent;
}

mat-grid-tile{
  border: thin solid lightgray;
}
