@import '~@angular/material/theming';


mat-card {
  @include mat-elevation-transition;
  @include mat-elevation(8);

  &:hover {
    @include mat-elevation(16);
  }
}
app-rating {

}

mat-card-header {
width: 100%;
}

mat-card-actions {
  padding: 2px;
  display:flex;
}

.info {
  position: absolute;
  bottom:3%;
  right:3%;
}

.rule-name {
  margin-top: 3px;
  font-size: x-small;
}

.pattern {
  margin: 0 auto;
  background-color:aliceblue;
}

.isAlive {
  background-color: black;
}

.isDead {
  background-color: transparent;
}

mat-grid-tile{
  border: thin solid lightgray;
}
